<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<meta name="google-site-verification" content="fWh-7VOYDoQfFWzDioXpC7P6wkCWacNWb-BDweVU7ko" />

	<meta name="author" content="Ward Kemp Limited">
	<meta name="title" content="{{meta_title}}">
	<meta name="description" content="{{meta_description}}">
	<meta name="robots" content="noodp, INDEX, FOLLOW">

	<meta property="og:image" content="{{website_canonical}}app/images/bl-twitter-logo.png" />
	<meta property="og:site_name" content="Ward Kemp Ltd" />
	<meta property="og:url" content="{{meta_canonical}}" />
	<meta property="og:title" content="{{meta_title}}" />
	<meta property="og:description" content="{{meta_description}}" />
	<meta property="og:type" content="website" />
	<meta property="og:locale" content="en_GB" />

	<title>{{meta_title}}</title>

	<link rel='canonical' href='{{meta_canonical}}'/>

	<link rel="alternate" href="/rss/" title="My RSS feed" type="application/rss+xml"/>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

	<!-- Yamm styles-->
	<link href="/app/includes/css/yamm.css" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

	<link rel="stylesheet" href="/app/includes/css/ppi-style.css?ver={{version}}" />

</head>


<body id="body">

<div class="page-wrap" >



	<!--  --->
	<div class="bl-top-area ppi-desktop " >
		<div class="container-fluid  ppi-top-first-row " >
			<div class="ppi-website-container " style="	margin:auto;">

				<div class="ppi-top-info-bar "  >
					<img style="" width="26" height="15" src="/app/images/wk-mail.png">&nbsp; <a class="ppi-header-contact-link" href="mailto:info@wardkemp.co.uk?{{mailto_link}}" target="_top">info@wardkemp.co.uk</a>&nbsp;&nbsp;&nbsp;&nbsp;<img style="" width="18" height="30" src="/app/images/wk-mobile.png">&nbsp; <a class="ppi-header-contact-link" href="tel:0870 766 9997">0870 766 9997</a>

				</div>
			</div>
		</div>


		<div class="container-fluid ppi-website-container " >
			<div class="ppi-top-second-row " >


				<div class="col-xs-12 navbar-ppi"  style="z-index:99;position:relative;">

					<div class="navbar yamm navbar-default " >
						<div class="navbar-header" >
							<button class="navbar-toggle " type="button" data-toggle="collapse" data-target="#navbar-collapse-1"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>

							<a  class="navbar-brand" href="/" >
								<img src="/app/images/{{logo}}" border=0 title="Ward Kemp Logo" alt="Ward Kemp Logo" width=100% >
							</a>
						</div>
						<div class="navbar-collapse collapse " id="navbar-collapse-2"  >




							<ul class="nav navbar-nav navbar-right "  style="">

								<li ><a class="dropdown" href="/">HOME</a>
								</li>


								<li ><a class="dropdown" href="/about_us">ABOUT US</a>
								</li>




								<li ><a class="dropdown" href="/service-and-charges">SERVICES & CHARGES</a>
								</li>


								<li class="dropdown"><a class="dropdown-toggle" href="/" data-toggle="dropdown">POLICIES<b class="caret"></b></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="/policy/housing-disrepair/">Housing Disrepair</a></li>
										<li><a href="/policy/ppi-pelvin">PPI Plevin</a></li>
										<li><a href="/policy/japanese-knotweed">Japanese Knotweed Cases</a></li>
										<li><a href="/policy/serps-pension">SERPS pension cases</a></li>
										<li><a href="/policy/mortgage-miscalculations">	Mortgage Miscalculations</a></li>
										<li><a href="/policy/packaged-bank-accounts">Packaged Bank Accounts</a></li>
										<li><a href="/policy/ppi-claims-tax-refunds">PPI Claims Tax Refunds</a></li>
									</ul>
								</li>


								<li class="dropdown"><a class="dropdown-toggle" href="/contact" data-toggle="dropdown">CONTACT<b class="caret"></b></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="/contact/">Contact</a></li>
										<li><a href="/privacy">Privacy</a></li>
									</ul>
								</li>
							</ul>

						</div>
					</div>
				</div>

			</div>


		</div>

	</div>


	<!-- mobile --->
	<div class="ppi-mobile ppi-top-area " >

		<!-- second row -->
		<div class="ppi-top-second-row col-xs-12 "  >
			<div class="col-xs-12 navbar-ppi"   >
				<div class="navbar  navbar-default "  >
					<div class="navbar-header">
						<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse-1"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
						</button>


					</div>




					<div class="navbar-collapse collapse " id="navbar-collapse-1">

						<ul class="nav navbar-nav  " >

							<li ><a class="dropdown" href="/">HOME</a>
							</li>
							<li ><a class="dropdown" href="/about_us">ABOUT US</a>
							</li>
							<li ><a class="dropdown" href="/service-and-charges">SERVICES & CHARGES</a>
							</li>

							<li class="dropdown"><a class="dropdown-toggle" href="/contact" data-toggle="dropdown">CONTACT<b class="caret"></b></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="/contact/">Contact</a></li>
									<li><a href="/privacy">Privacy</a></li>
								</ul>
							</li>
						</ul>



					</div>
				</div>

			</div>
		</div>


	</div>





<!-- start of page -->
	<div class="bl-main-page" style="background-color:#f2f2f1;">
		<!-- title -->
		<div class="bl-website-container container-fluid" style="padding:0px;">

			<br><br>

			<br>




