<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<meta name="google-site-verification" content="fWh-7VOYDoQfFWzDioXpC7P6wkCWacNWb-BDweVU7ko" />

	<meta name="author" content="Ward Kemp Limited">
	<meta name="title" content="{{meta_title}}">
	<meta name="description" content="{{meta_description}}">
	<meta name="robots" content="noodp, INDEX, FOLLOW">

	<meta property="og:image" content="{{website_canonical}}app/images/bl-twitter-logo.png" />
	<meta property="og:site_name" content="Ward Kemp Ltd" />
	<meta property="og:url" content="{{meta_canonical}}" />
	<meta property="og:title" content="{{meta_title}}" />
	<meta property="og:description" content="{{meta_description}}" />
	<meta property="og:type" content="website" />
	<meta property="og:locale" content="en_GB" />

	<title>{{meta_title}}</title>

	<link rel='canonical' href='{{meta_canonical}}'/>

	<link rel="alternate" href="/rss/" title="My RSS feed" type="application/rss+xml"/>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

	<!-- Yamm styles-->
	<link href="/app/includes/css/yamm.css" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

	<link rel="stylesheet" href="/app/includes/css/ppi-style.css" />

</head>


<body id="body">

<div class="page-wrap" >


	{{menu_string}}









<div style="height:10px;width:100%;background-color:#ffffff;"></div>


	<!--- main image--->


	<div class="" style="

	background-image: url('/app/images/backdrop/{{banner}}');

	background-position: center top;

	background-repeat: no-repeat;

	/* This is what makes the background image rescale based on its container's size */
	background-size: cover;  /* auto is the other method, but runs out of space */

	padding-top:350px;
	padding-bottom:50px;




	">



<style>


</style>


</div>




	<!-- breadcrumbs -->
	<div class="ppi-desktop ppi-page-breadcrumbs"  >
		<div class="ppi-website-container container-fluid">
			{{breadcrumb_link}}
		</div>
	</div>
	<!-- start of page -->
	<div class="ppi-main-page" >
		<!-- title -->
		<div class="ppi-website-container container-fluid">


			<!-- desktop -->
			<h1 class="h1 ppi-desktop ppi-page-title" > {{page_title}}</h1>

			<!-- mobile -->
			<h1 class="h1 ppi-mobile ppi-page-title text-center"> {{page_title}}</h1>



